@model List<prog6212Part2.Models.LecturerClaims>

<head>

</head>
<body >
   <h1> Admin Review</h1>
    
</body>

    <div>
        <table>
            <thead>
            <tr>
                <th>Uploader Name</th>
                <th>Hourly Rate</th>
                <th>Hours Worked</th>
                <th>Addition Notes</th>
                <th>Claim Name</th>
                <th>Claim Date</th>
                <th>Status</th>
                <th>Review Document</th>
                
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {

                @if (item != null)
                {
                    <tr>
                        <td>
                            @item.claimLecturerName
                        </td>

                        <td>
                            @item.claimHourlyRate
                        </td>

                        <td>
                            @item.claimHoursWorked
                        </td>

                        <td>
                            @item.claimAdditionalNotes
                        </td>

                        <td>
                            @item.claimFileName
                        </td>

                        <td>
                            @item.claimDate
                        </td> 
                        
                        
                        <td>
                           @item.claimStatus
                        </td>

                    


                        <td>
                            <form asp-action="ReviewClaimsView" method="post">
                                <select name="approve">
                                    <option value="true">Approve</option>
                                    <option value="false">Reject</option>
                                </select>
                                <button type="submit">Submit</button>
                            </form>
                        </td>

                    </tr>
                }
            }
                

            </tbody>
           

    </table>
</div>

